[MASTER]
load-plugins =
    pylint_flask,
    pylint_flask_sqlalchemy


[DESIGN]
# Minimum number of public methods for a class (see R0903).
min-public-methods=0

[MESSAGES CONTROL]
disable=R0201,C0114,W0702,W0621,R0801,E1101,C0116,C0415,W0622,C0103